# Terraform-specific
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform-docs

# Argo CD-specific (depending on your setup)
.argocd-source # If you have local Argo CD source definitions
.argocd-env # If you have environment-specific Argo CD configurations
eks-gitops/argocd-bootstrap/repo-secret.yaml

# Helm-specific
charts/*/Chart.lock
charts/*/values.yaml.orig
charts/*/tmp/
charts/*/build/
charts/*/pkg/
charts/*/crds/*/kustomization.yaml
charts/*/crds/*/patches/
charts/*/crds/*/tests/
charts/*/crds/*/*.yaml
charts/*/templates/_helpers.tpl # Often contains template functions
charts/*/templates/*.yaml # Depending on your desired tracking
charts/*/templates/*.tpl # Depending on your desired tracking

# General Development
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
.vscode/
.idea/
*.tfvars
*.auto.tfvars
*.tfvars.json
*.auto.tfvars.json
secrets/* # Be very careful with this, consider a more secure secret management solution
*.pem
*.key
*.crt

# OS Specific
.AppleDouble
.LSOverride

# Package Managers (if used in your project)
node_modules/
venv/
env/
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
dist/
build/

# Other temporary files or directories
tmp/
temp/
output/